<form action="/quizes/<%= quizid %>/comments" method="post">
	<div>
		<label for="comment">Escribe tú comentario</label>
		<textarea rows="5" cols="25" id="comment" name="comment[texto]" placeholder="Por ejemplo: La respuesta es errónea" required="required" tabindex="1"></textarea>
	</div>
	<input value="Enviar" type="submit" tabindex="2"/>	
</form>