<!DOCTYPE html>
<html>
  <head>
    <title>Quiz: Un juego de preguntas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<header>
		<div class="content">
			<div id="title">
				<h1>Quiz</h1>
				<h2>Un juego de preguntas</h2>
			</div>
		    <nav>
		    	<ul>
		    		<li><a href="/">Inicio</a></li>
		    		<li><a href="/quizes/question">Preguntas</a></li>
		    		<li><a href="/author">Autor</a></li>
		    	</ul>
		    </nav>
	    </div>
	</header>
    <main>
    	<div class="content">
    		<%- body %>
    	</div>
    </main>
    <footer>
    	<div class="content">
    		<p><a class="e-info" href="https://es.wikipedia.org/wiki/Quiz" target="_blank">¿Qué es un Quiz?</a>
    			| <a class="e-github" href="https://github.com/amwebdeveloper/quiz" target="_blank">Proyecto en Github</a></p>
    	</div>
    </footer>
  </body>
</html>
