<% 
	var opciones = ["humanidades", "ocio", "ciencia", "tecnologia"];
%>
<div>
	<div>
		<label for="pregunta">Pregunta:</label>
		<input type="text" value="<%= quiz.pregunta %>" name="quiz[pregunta]" id="pregunta" placeholder="Por ejemplo: Capital de Alemania" required="required"/>
	</div>
	<div>
		<label for="respuesta">Respuesta:</label>
		<input type="text" value="<%= quiz.respuesta %>" name="quiz[respuesta]" id="respuesta" placeholder="Por ejemplo: Berlín" required="required"/>		
	</div> 
	<div>
		<label for="tematica">Temática</label>
		<select id="tematica" name="quiz[tematica]">
			<option value="">Seleccionar</option>
			<% for (var i=0; i<opciones.length; i++) { %>
				<option value="<%= opciones[i] %>" <% if (opciones[i] === quiz.tematica) {%> selected <%}%>><%= opciones[i] %></option>
			<% } %>
		</select>
	</div>
	<input type="submit" value="Guardar" />
</div>