<form id="search-questions" action="/quizes" method="get">
	<div>
		<label for="seatch">Buscar preguntas:</label>
		<input value="" type="text" placeholder="Por ejemplo: Italia" id="buscar" name="search" required/>
		<input value="Buscar" type="submit"/>
	</div>
</form>

<table id="questions">
	<thead>
		<tr>
			<th id="id">Id</th>
			<th id="question">Pregunta</th>
			<th id="action">Acciones</th>
		</tr>
	</thead>
	<tbody>
		<% 
		for (var i=0; i<quizes.length; i++) {
		%>
		<tr>
			<td><%= quizes[i].id %></td>
			<td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
			<td><a class="e-edit button min" href="/quizes/<%= quizes[i].id %>/edit">Editar</a></td>
		</tr>
		<% } %>
	</tbody>
</table>

<p><a class="button" href="/quizes/new">Crear pregunta</a></p>