<form action="/quizes/answer" method="get">
	<p class="question">¿<%= pregunta %>?</p>
	<div>
		<label for="respuesta">Escribe tú respuesta</label>
		<input value="" type="text" placeholder="Por ejemplo: Armenia" id="respuesta" name="respuesta" required/>
	</div>
	<input value="Enviar" type="submit" />	
</form>
