<form action="/quizes/answer" method="get">
	<p>Pregunta: <%= pregunta %></p>
	<div>
		<label for="respuesta">Respuesta</label>
		<input value="" type="text" placeholder="Escriba su respuesta" id="respuesta" name="respuesta"/>
	</div>
	<input value="Enviar" type="submit" />	
</form>
