<form action="#" method="post">
	<div>
		<label for="login" >Nombre de usuario</label>
		<input type="text" name="login" id="login" required/>  
	</div>
	<div>
		<label for="password" >Password</label>
		<input type="password" name="password" id="password" />  
	</div>	
	<input value="Enviar" type="submit" tabindex="2"/>	
</form>